<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="emp" class="com.spring.appdemo.Employee">
        <property name="name" value="Mohammed" />
        <property name="age" value="27" />
        <property name="salary" value="27500" />
        <property name="position" value="java" />
        <property name="department" ref="dept" />
    </bean>

    <bean id="dept" class="com.spring.appdemo.Department">
        <property name="name" value="IT" />
        <property name="id" value="1" />
    </bean>

</beans>